[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"

[dev-packages]

[requires]
# libapache2-mod-wsgi-py3 depends on 3.7 as of May 2021
python_version = "3.7"
