.left,
.right {
  float: none;
}
nav .menu-hamburger {
  display: block;
  position: absolute;
  right: 0.5rem;
  top: 0.7rem;
  width: 2rem;
  height: 2rem;
}
nav .menu-hamburger .bar {
  fill: white;
  stroke: black;
  stroke-width: 0;
  opacity: 1;
}
nav .menu-hamburger .bar-top,
nav .menu-hamburger .bar-bottom {
  transform: rotate(0) translateY(0);
  transition: all 0.2s ease-in-out;
}
nav .menu-hamburger:hover .bar-top,
nav .menu-hamburger:hover .bar-bottom {
  fill: #EB6109;
}
nav .main-menu {
  width: 100vw;
  height: calc(100vh - 3rem);
  top: 3rem;
  position: fixed;
  right: -100%;
  background: #1E2950;
  transition: right 0.2s ease-out;
}
nav .main-menu .home {
  display: block;
}
nav .main-menu a {
  display: block;
  font-size: 1.3rem;
  text-align: center;
}
nav.showing .main-menu {
  right: 0;
}
nav.showing .menu-hamburger .bar {
  fill: white;
  stroke: black;
  stroke-width: 0;
  opacity: 1;
}
nav.showing .menu-hamburger .bar-top {
  transform: rotate(-135deg) translateY(112.5%);
}
nav.showing .menu-hamburger .bar-bottom {
  transform: rotate(135deg) translateY(-112.5%);
}
.hero {
  height: calc(90vw + 15rem);
}
.hero .hero-graphic {
  text-align: center;
}
.hero .hero-graphic .planet {
  top: 4rem;
  position: relative;
  left: auto;
  right: auto;
  width: 80vw;
  margin: 0 auto;
}
.hero .hero-graphic .stars {
  display: none;
}
.hero .hero-text {
  display: block;
  width: 100vw;
  left: -2.5vw;
  position: relative;
  top: 4rem;
  font-size: 3rem;
}
section h1 {
  padding-left: 5%;
}
section .text,
section .image {
  display: block;
  float: none;
  width: 90%;
  padding: 0;
  position: static;
  margin: 1rem auto;
}
section .image {
  margin-bottom: 4rem;
}
.main h1 {
  top: 0;
  margin-bottom: 0.5rem;
}
.main .mini-menu {
  width: 100%;
  position: static;
  text-align: center;
}
.main .body {
  position: static;
  width: 100%;
}
.main .body h2,
.main .body h3,
.main .body h4 {
  padding-left: 5%;
}
.current-committee img {
  display: block;
  margin: 1rem auto;
}
.current-committee li {
  display: block;
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 90%;
  text-align: center;
}
.current-committee li img {
  margin-left: auto;
  margin-right: auto;
}
.past-committee {
  display: block;
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
  text-align: center;
}
.past-committee img {
  display: block;
  margin: 1rem auto;
}
.past-committee li .position {
  padding-top: 0.2rem;
  padding-bottom: 0.8rem;
}
.resources li {
  text-align: center;
}
.resources li img {
  float: none;
  margin: 0 auto;
}
.resources li .description {
  margin-left: 0;
  margin-bottom: 1rem;
}
.resources li .title {
  margin-left: 0;
}
.event-holder .event-scroll .event {
  transition: left 0.3s ease-out, transform 0.2s ease-out;
}
footer {
  text-align: center;
}
