<IfModule mod_deflate.c>
    <filesMatch "\.(js|css|html|php|svg)$">
        SetOutputFilter DEFLATE
    </filesMatch>
</IfModule>

Options +FollowSymLinks
RewriteEngine on
RewriteRule /dota2sponsor/(.*) /dota2sponsor/?c=(.*) [R=301,L]
