{% extends "base.html" %}
{% block title %} About {% endblock %}

{% block content %}
<div class="main">

    <div class='mini-menu'>
        <h1>About</h1>
        <a href='#about'>Who are we?</a>
        <a href='#history'>History</a>
        <a href='#committee'>Committee</a>
        <a href='#past-committees'>Past Committees</a>
    </div>

    <div class='body'>
        <section id='about'>
            <h2>Who are we?</h2>

            <div class='text'>
                <p>CompSoc is the University of Canterbury’s Computer Society, representing students in Computer Science, Software Engineering, Mathematics, Statistics, and related areas.
                    CompSoc facilitates students to engage with their departments & colleges, meet industry professionals and enjoy our range of social events.</p>


                <p>Our goal is to help our members grow academically, socially, and professionally with a range of events throughout the year. From relaxing at our termly BBQs, getting help and advice at our weekly help sessions, to networking opportunities with key members of companies from around New Zealand, Australia and the world.
                    While we strongly encourage CSSE and Math&Stats students to join, we welcome students from across all faculties. So whatever you’re interested in, you are bound to find something that you will enjoy.</p>
            </div>

            <div class='clearfix'></div>
        </section>

        <section id='history'>
            <h2>History</h2>

            <div class='image smaller left'>
                <img src='{{ url_for("static", filename="resources/oldLogo.png") }}' alt='old logo'>
            </div>

            <div class='text larger right'>

                <p>CompSoc has held a strong presence in the UC community since our beginnings in 2003, but our “written history” begins in late 2010 with six passionate computer science students. Since then, our club has grown steadily - the committee is now more than three times its original size! At the beginning of 2016, CompSoc rebranded to become the beautiful blue and orange masterpiece it is today. In 2018, and moving forward, we strive to expand the range and quality of our events and opportunities for all students.</p>

            </div>

            <div class='clearfix'></div>
        </section>

        <section id="committee">
            <h2>2019 Committee</h2>
            <ul class="current-committee">
                <img class='current-committee-image' src="{{ url_for('static', filename='resources/committee_2019.jpg')}}" alt='2019 Committee' />
                <li>
                    <img src="{{ url_for('static', filename='resources/exe2019.jpg')}}" alt='Exequiel Bahamonde Cárcamo'>
                    <span class='name'>Exequiel Bahamonde Cárcamo</span>
                    <span class='position'>President</span>
                    <a href="mailto:president@compsoc.org.nz">president@compsoc.org.nz</a>
                </li>

                <li>
                    <img src="{{ url_for('static', filename='resources/sas2019.jpg')}}" alt="Sam Spekreijse" />
                    <span class='name'>Sam Spekreijse</span>
                    <span class='position'>Vice President</span>
                    <a href="mailto:vice.president@compsoc.org.nz">vice.president@compsoc.org.nz</a>
                </li>

                <li>
                    <img src="{{ url_for('static', filename='resources/philippa2019.jpg')}}" alt='Philippa Richardson'/>
                    <span class='name'>Philippa Richardson</span>
                    <span class='position'>Treasurer</span>
                    <a href='mailto:treasurer@compsoc.org.nz'>treasurer@compsoc.org.nz</a>
                </li>

                <li>
                    <img src="{{ url_for('static', filename='resources/brigitte2019.jpg')}}" alt="Brigitte Simpson" />
                    <span class='name'>Brigitte Simpson</span>
                    <span class='position'>Secretary</span>
                    <a href="mailto:secretary@compsoc.org.nz">secretary@compsoc.org.nz</a>
                </li>

                <li>
                    <img src="{{ url_for('static', filename='resources/firstyear.png')}}" alt="Gabriella McLeay" />
                    <span class='name'>Gabriella McLeay</span>
                    <span class='position'>Marketing Manager</span>
                    <a href="mailto:marketing@compsoc.org.nz">marketing.compsoc.org.nz</a>
                </li>

                <li>
                    <img src="{{ url_for('static', filename='resources/maria2019.jpg')}}" alt="Maria Langdale" />
                    <span class='name'>Maria Langdale</span>
                    <span class='position'>Social Media Manager</span>
                    <a href="mailto:marketing@compsoc.org.nz">marketing.compsoc.org.nz</a>
                </li>

                <li>
                    <img src="{{ url_for('static', filename='resources/jake2019.jpg')}}" alt="Jake Faulkner" />
                    <span class='name'>Jake Faulkner</span>
                    <span class='position'>Academic Representative</span>
                    <a href="mailto:academic@compsoc.org.nz">academic@compsoc.org.nz</a>
                </li>

                <li>
                    <img src="{{ url_for('static', filename='resources/patrick2019.jpg')}}" alt="Patrick Ma" />
                    <span class='name'>Patrick Ma</span>
                    <span class='position'>Academic Representative</span>
                    <a href="mailto:academic@compsoc.org.nz">academic@compsoc.org.nz</a>
                </li>

                <li>
                    <img src="{{ url_for('static', filename='resources/matilda2019.jpg')}}" alt="Matilda Porterfield" />
                    <span class='name'>Matilda Porterfield</span>
                    <span class='position'>Industry Representative</span>
                    <a href="mailto:industry@compsoc.org.nz">industry@compsoc.org.nz</a>
                </li>

                <li>
                    <img src="{{ url_for('static', filename='resources/andy2019.jpg')}}" alt="Andy French" />
                    <span class='name'>Andy French</span>
                    <span class='position'>Social Representative</span>
                    <a href="mailto:social@compsoc.org.nz">social@compsoc.org.nz</a>
                </li>

                <li>
                    <img src="{{ url_for('static', filename='resources/buzz2019.jpg')}}" alt="Matthew Knight-year" />
                    <span class='name'>Matthew Knight-year</span>
                    <span class='position'>Social Representative</span>
                    <a href="mailto:social@compsoc.org.nz">social@compsoc.org.nz</a>
                </li>

                <li>
                    <img src="{{ url_for('static', filename='resources/rebecka2019.jpg')}}" alt="Rebecka Cox" />
                    <span class='name'>Rebecka Cox</span>
                    <span class='position'>CSSE Postgraduate Representative <br /> Equity Officer</span>
                    <a href="mailto:postgrad@compsoc.org.nz">postgrad@compsoc.org.nz</a>
                </li>

                <li>
                    <img src="{{ url_for('static', filename='resources/lucy2019.jpg')}}" alt="Lucy Turner" />
                    <span class='name'>Lucy Turner</span>
                    <span class='position'>Mathematics and Statistics Postgraduate Representative</span>
                    <a href="mailto:postgrad@compsoc.org.nz">postgrad@compsoc.org.nz</a>
                </li>
                <li>
                    <img src="{{ url_for('static', filename='resources/emily2019.jpg')}}" alt="Emily Syme" />
                    <span class='name'>Emily Syme</span>
                    <span class='position'>Mathematics and Statistics Representative</span>
                    <a href="mailto:maths.stats@compsoc.org.nz">maths.stats@compsoc.org.nz</a>
                </li>

                <li>
                    <img src="{{ url_for('static', filename='resources/jen2019.jpg')}}" alt="Jennifer Lowe" />
                    <span class='name'>Jennifer Lowe</span>
                    <span class='position'>Mathematics and Statistics Representative</span>
                    <a href="mailto:maths.stats@compsoc.org.nz">maths.stats@compsoc.org.nz</a>
                </li>

                <li>
                    <img src="{{ url_for('static', filename='resources/harrison2019.jpg')}}" alt="Harrison Cook" />
                    <span class='name'>Harrison Cook</span>
                    <span class='position'>Third Year Representative</span>
                    <a href="mailto:student@compsoc.org.nz">Harrison Cook</a>
                </li>

                <li>
                    <img src="{{ url_for('static', filename='resources/daniel2019.jpg')}}" alt="Daniel Harris" />
                    <span class='name'>Daniel Harris</span>
                    <span class='position'>Second Year Representative</span>
                    <a href="mailto:student@compsoc.org.nz">Daniel Harris</a>
                </li>

                <li>
                    <img src="{{ url_for('static', filename='resources/emma2019.jpg')}}" alt="Emma Hogan" />
                    <span class='name'>Emma Hogan</span>
                    <span class='position'>First Year Representative</span>
                    <a href="mailto:firstyear@compsoc.org.nz">firstyear@compsoc.org.nz</a>
                </li>

                <li>
                    <img src="{{ url_for('static', filename='resources/rico2019.jpg')}}" alt="Enrico Ancheta" />
                    <span class='name'>Enrico Ancheta</span>
                    <span class='position'>First Year Representative</span>
                    <a href="mailto:firstyear@compsoc.org.nz">firstyear@compsoc.org.nz</a>
                </li>

                <li>
                    <img src="{{ url_for('static', filename='resources/liam2019.jpg')}}" alt="Liam Pol" />
                    <span class='name'>Liam Pol</span>
                    <span class='position'>First Year Representative</span>
                    <a href="mailto:firstyear@compsoc.org.nz">firstyear@compsoc.org.nz</a>
                </li>

                <li>
                    <img src="{{ url_for('static', filename='resources/mitchell2019.jpg')}}" alt="Mitchell Veale" />
                    <span class='name'>Mitchell Veale</span>
                    <span class='position'>First Year Representative</span>
                    <a href="mailto:firstyear@compsoc.org.nz">firstyear@compsoc.org.nz</a>
                </li>
            </ul>
        </section>

        <section id="past-committees">
            <h2>Past Committees</h2>

            <ul class='past-committee'>
                <h4>2018</h4>
                <img src="{{ url_for('static', filename='resources/committee_2018.jpg')}}" alt='2018 Committee' />
                <li>
                    <span class='name'>Louis Attenborough</span>
                    <span class='position'>President</span>
                </li>

                <li>
                    <span class='name'>Kirill Kirillov</span>
                    <span class='position'>Vice President</span>
                </li>

                <li>
                    <span class='name'>Hamish Johnston</span>
                    <span class='position'>Vice President <br /> Equity Officer</span>
                </li>

                <li>
                    <span class='name'>Philippa Richardson</span>
                    <span class='position'>Treasurer</span>
                </li>

                <li>
                    <span class='name'>Exequiel Bahamonde Cárcamo</span>
                    <span class='position'>Secretary <br/> Equity Officer</span>
                </li>

                <li>
                    <span class='name'>Kusal Ekanayake</span>
                    <span class='position'>Marketing Director</span>
                </li>

                <li>
                    <span class='name'>Rebecka Cox</span>
                    <span class='position'>Academic Events Manager</span>
                </li>

                <li>
                    <span class='name'>Sam Spekreijse</span>
                    <span class='position'>Academic Events Manager</span>
                </li>

                <li>
                    <span class='name'>William Muir</span>
                    <span class='position'>Social Events Manager</span>
                </li>

                <li>
                    <span class='name'>Patricia David</span>
                    <span class='position'>Social Events Manager</span>
                </li>

                <li>
                    <span class='name'>Manveer Bhullar</span>
                    <span class='position'>Maths/ Stats Postgraduate Representative</span>
                </li>

                <li>
                    <span class='name'>Position available</span>
                    <span class='position'>CSSE Postgraduate Representative</span>
                </li>

                <li>
                    <span class='name'>Amanda Deacon</span>
                    <span class='position'>Maths/ Stats Representative</span>
                </li>

                <li>
                    <span class='name'>Jen Lowe</span>
                    <span class='position'>Maths/ Stats Representative</span>
                </li>

                <li>
                    <span class='name'>Elizabeth Wilson</span>
                    <span class='position'>Third Year Representative</span>
                </li>

                <li>
                    <span class='name'>Alanna Reid</span>
                    <span class='position'>Third Year Representative</span>
                </li>

                <li>
                    <span class='name'>Tiger Huang</span>
                    <span class='position'>Second Year Representative</span>
                </li>

                <li>
                    <span class='name'>Gavin Ong</span>
                    <span class='position'>Second Year Representative</span>
                </li>

                <li>
                    <span class='name'>Jake Faulkner</span>
                    <span class='position'>First Year Representative</span>
                </li>

                <li>
                    <span class='name'>Rhys Jennings</span>
                    <span class='position'>First Year Representative</span>
                </li>

            </ul>

            <div class='past-committee'>
                <h4>2017</h4>
                <img src="{{ url_for('static', filename='resources/2017.jpg')}}" alt='2017 Committee' />
                <ul>
                    <li>
                        <span class='name'>Emily Price</span>
                        <span class='position'>President</span>
                    </li>
                    <li>
                        <span class='name'>Dion Woolley</span>
                        <span class='position'>Vice President <br /> Postgraduate Representative</span>
                    </li>
                    <li>
                        <span class='name'>Samuel Yamoah</span>
                        <span class='position'>Vice President</span>
                    </li>
                    <li>
                        <span class='name'>Louis Attenborough</span>
                        <span class='position'>Treasurer</span>
                    </li>
                    <li>
                        <span class='name'>Hamish Johnston</span>
                        <span class='position'>Secretary <br /> Equity Officer</span>
                    </li>
                    <li>
                        <span class='name'>Sam Spekreijse</span>
                        <span class='position'>Academic Events Manager</span>
                    </li>
                    <li>
                        <span class='name'>Amanda Deacon</span>
                        <span class='position'>Academic Events Manager</span>
                    </li>
                    <li>
                        <span class='name'>Kirill Kirillov</span>
                        <span class='position'>Social Events Manager</span>
                    </li>
                    <li>
                        <span class='name'>Chris Guo</span>
                        <span class='position'>Social Events Manager</span>
                    </li>
                    <li>
                        <span class='name'>Philippa Richardson</span>
                        <span class='position'>Second Year Representative</span>
                    </li>
                    <li>
                        <span class='name'>Shaylee Bright</span>
                        <span class='position'>First Year Representative</span>
                    </li>
                    <li>
                        <span class='name'>Tiger Huang</span>
                        <span class='position'>First Year Representative</span>
                    </li>
                    <li>
                        <span class='name'>Gavin Ong</span>
                        <span class='position'>First Year Representative</span>
                    </li>
                </ul>
            </div>

            <div class='past-committee'>
                <h4>2016</h4>
                <img src="{{ url_for('static', filename='resources/committee_2016.jpg')}}" alt='2016 Committee' />
                <ul>
                    <li>
                        <span class='name'>Sarang Love Leehan</span>
                        <span class='position'>President</span>
                    </li>
                    <li>
                        <span class='name'>Dion Woolley</span>
                        <span class='position'>Vice President</span>
                    </li>
                    <li>
                        <span class='name'>Greg Best</span>
                        <span class='position'>Treasurer</span>
                    </li>
                    <li>
                        <span class='name'>Hamish Johnston</span>
                        <span class='position'>Secretary <br /> Equity Officer</span>
                    </li>
                    <li>
                        <span class='name'>Emily Price</span>
                        <span class='position'>Academic Events Manager <br /> Equity Officer</span>
                    </li>
                    <li>
                        <span class='name'>Amanda Deacon</span>
                        <span class='position'>Academic Events Manager</span>
                    </li>
                    <li>
                        <span class='name'>Jonty Trombik</span>
                        <span class='position'>Social Events Manager</span>
                    </li>
                    <li>
                        <span class='name'>Samuel Yamoah</span>
                        <span class='position'>Social Events Manager</span>
                    </li>
                    <li>
                        <span class='name'>Ben Moskovitz</span>
                        <span class='position'>Marketing Director</span>
                    </li>
                    <li>
                        <span class='name'>Aaron Stockdill</span>
                        <span class='position'>Postgraduate Representative</span>
                    </li>
                    <li>
                        <span class='name'>Adam Tupper</span>
                        <span class='position'>Second Year Representative</span>
                    </li>
                    <li>
                        <span class='name'>Louis Attenborough</span>
                        <span class='position'>Second Year Representative</span>
                    </li>
                    <li>
                        <span class='name'>Aaron Bong</span>
                        <span class='position'>First Year Representative</span>
                    </li>
                    <li>
                        <span class='name'>Philippa Richardson</span>
                        <span class='position'>First Year Representative</span>
                    </li>
                </ul>
            </div>

            <div class='past-committee'>
                <h4>2015</h4>
                <img src="{{ url_for('static', filename='resources/2015.jpg')}}" alt='2015 Committee' />
                <ul>
                    <li>
                        <span class='name'>Carina Blair</span>
                        <span class='position'>President</span>
                    </li>
                    <li>
                        <span class='name'>Marcus Stenfert Kroese</span>
                        <span class='position'>Vice President</span>
                    </li>
                    <li>
                        <span class='name'>Greg Best</span>
                        <span class='position'>Treasurer</span>
                    </li>
                    <li>
                        <span class='name'>Hamish Johnston</span>
                        <span class='position'>Secretary</span>
                    </li>
                    <li>
                        <span class='name'>Clare Ford</span>
                        <span class='position'>Academic Events Manager</span>
                    </li>
                    <li>
                        <span class='name'>Jamie Corrigan</span>
                        <span class='position'>Academic Events Manager</span>
                    </li>
                    <li>
                        <span class='name'>Emily Benson</span>
                        <span class='position'>Social Events Manager</span>
                    </li>
                    <li>
                        <span class='name'>Sarang Love Leehan</span>
                        <span class='position'>Marketing Director</span>
                    </li>
                    <li>
                        <span class='name'>Caitlin Duncan</span>
                        <span class='position'>Postgraduate Representative</span>
                    </li>
                    <li>
                        <span class='name'>Greg Best</span>
                        <span class='position'>Second Year Representative</span>
                    </li>
                    <li>
                        <span class='name'>Toni James</span>
                        <span class='position'>Second Year Representative</span>
                    </li>
                    <li>
                        <span class='name'>Louis Attenborough</span>
                        <span class='position'>First Year Representative</span>
                    </li>
                </ul>
            </div>

            <div class='past-committee'>
                <h4>2014</h4>
                <img src="{{ url_for('static', filename='resources/committee_2014.jpg')}}" alt='2014 Committee' />
                <ul>
                    <li>
                        <span class='name'>Marcus Stenfert Kroese</span>
                        <span class='position'>President</span>
                    </li>
                    <li>
                        <span class='name'>Andrew CurtisBlack</span>
                        <span class='position'>Vice President</span>
                    </li>
                    <li>
                        <span class='name'>Rachel Gardner</span>
                        <span class='position'>Treasurer</span>
                    </li>
                    <li>
                        <span class='name'>Matt Barton</span>
                        <span class='position'>Academic Events Manager</span>
                    </li>
                    <li>
                        <span class='name'>Hadi Roudaki</span>
                        <span class='position'>Social Events Manager</span>
                    </li>
                    <li>
                        <span class='name'>Roseanna Grundy</span>
                        <span class='position'>Marketing Director</span>
                    </li>
                    <li>
                        <span class='name'>Sam Jarman</span>
                        <span class='position'>Postgraduate Representative</span>
                    </li>
                    <li>
                        <span class='name'>Carina Blair</span>
                        <span class='position'>Second Year Representative</span>
                    </li>
                    <li>
                        <span class='name'>Sarang Love Leehan</span>
                        <span class='position'>First Year Representative</span>
                    </li>
                    <li>
                        <span class='name'>Jamie Corrigan</span>
                        <span class='position'>First Year Representative</span>
                    </li>
                    <li>
                        <span class='name'>Hamish Johnston</span>
                        <span class='position'>First Year Representative</span>
                    </li>
                    <li>
                        <span class='name'>Greg Best</span>
                        <span class='position'>First Year Representative</span>
                    </li>
                </ul>
            </div>

            <div class='past-committee'>
                <h4>2013</h4>
                <img src="{{ url_for('static', filename='resources/committee_404.png')}}" alt='2013 Committee' />
                <ul>
                    <li>
                        <span class='name'>Sam Jarman</span>
                        <span class='position'>President</span>
                    </li>
                    <li>
                        <span class='name'>Cody Harringon</span>
                        <span class='position'>Vice President</span>
                    </li>
                    <li>
                        <span class='name'>Scott Ogden</span>
                        <span class='position'>Treasurer</span>
                    </li>
                    <li>
                        <span class='name'>Michael van de Water</span>
                        <span class='position'>Secretary</span>
                    </li>
                    <li>
                        <span class='name'>Hayden Jackson</span>
                        <span class='position'>Academic Events Manager</span>
                    </li>
                    <li>
                        <span class='name'>Michael Gorman</span>
                        <span class='position'>Social Events Manager</span>
                    </li>
                    <li>
                        <span class='name'>Alice Cresswell</span>
                        <span class='position'>Marketing Director</span>
                    </li>
                    <li>
                        <span class='name'>Caitlin Duncan</span>
                        <span class='position'>Postgraduate Representative</span>
                    </li>
                    <li>
                        <span class='name'>Hadi Roudaki</span>
                        <span class='position'>Second Year Representative</span>
                    </li>
                    <li>
                        <span class='name'>Carina Blair</span>
                        <span class='position'>First Year Representative</span>
                    </li>
                    <li>
                        <span class='name'>Sam Chau</span>
                        <span class='position'>First Year Representative</span>
                    </li>
                </ul>
            </div>

            <div class='past-committee'>
                <h4>2012</h4>
                <img src="{{ url_for('static', filename='resources/committee_404.png')}}" alt='2012 Committee' />
                <ul>
                    <li>
                        <span class='name'>Neal Nankivell</span>
                        <span class='position'>President</span>
                    </li>
                    <li>
                        <span class='name'>Paddy Polson</span>
                        <span class='position'>Vice President</span>
                    </li>
                    <li>
                        <span class='name'>Michael Norrie</span>
                        <span class='position'>Treasurer</span>
                    </li>
                    <li>
                        <span class='name'>Jan Fockenga</span>
                        <span class='position'>Secretary</span>
                    </li>
                    <li>
                        <span class='name'>Sam Jarman</span>
                        <span class='position'>Academic Events Manager</span>
                    </li>
                    <li>
                        <span class='name'>Kieran Ormandy</span>
                        <span class='position'>Social Events Manager</span>
                    </li>
                    <li>
                        <span class='name'>Ellie Rasmus</span>
                        <span class='position'>Marketing Director</span>
                    </li>
                    <li>
                        <span class='name'>Ben Munro</span>
                        <span class='position'>Webmaster</span>
                    </li>
                    <li>
                        <span class='name'>Daniel Schramm</span>
                        <span class='position'>Postgraduate Representative</span>
                    </li>
                    <li>
                        <span class='name'>Cain Cresswell-Miley</span>
                        <span class='position'>Second Year Representative</span>
                    </li>
                    <li>
                        <span class='name'>George Xian</span>
                        <span class='position'>Second Year Representative</span>
                    </li>
                    <li>
                        <span class='name'>Michael van de Water</span>
                        <span class='position'>First Year Representative</span>
                    </li>
                </ul>
            </div>

            <div class='past-committee'>
                <h4>2011</h4>
                <img src="{{ url_for('static', filename='resources/committee_404.png')}}" alt='2011 Committee' />
                <ul>
                    <li>
                        <span class='name'>Daniel Schramm</span>
                        <span class='position'>President</span>
                    </li>
                    <li>
                        <span class='name'>Max Brosnahan</span>
                        <span class='position'>Vice President <br /> Marketing</span>
                    </li>
                    <li>
                        <span class='name'>Joel Harrison</span>
                        <span class='position'>Treasurer</span>
                    </li>
                    <li>
                        <span class='name'>Lewis Christie</span>
                        <span class='position'>Secretary</span>
                    </li>
                    <li>
                        <span class='name'>Andrew Bryant</span>
                        <span class='position'>Events Manager</span>
                    </li>
                    <li>
                        <span class='name'>Andrei Miulescu</span>
                        <span class='position'>Webmaster</span>
                    </li>
                    <li>
                        <span class='name'>Chris Jensen</span>
                        <span class='position'>NZCS Liason</span>
                    </li>
                    <li>
                        <span class='name'>Sam Jarman</span>
                        <span class='position'>Postgraduate Representative</span>
                    </li>
                    <li>
                        <span class='name'>George Xian</span>
                        <span class='position'>First Year Representative</span>
                    </li>
                    <li>
                        <span class='name'>Brenton Milne</span>
                        <span class='position'>First Year Representative</span>
                    </li>
                </ul>
           </div>
        </section>
    </div>
</div>
{% endblock %}
