{% extends "base.html" %}
{% block title %} About {% endblock %}

{% block content %}
<div class="main">

    <div class='mini-menu'>
        <h1>About</h1>
        <a href='#about'>Who are we?</a>
        <a href='#history'>History</a>
        <a href='#committee'>Committee</a>
        <a href='#past-committees'>Past Committees</a>
    </div>

    <div class='body'>
        <section id='about'>
            <h2>Who are we?</h2>

            <div class='text'>
                <p>CompSoc is the University of Canterbury’s Computer Society, representing students in Computer Science, Software Engineering, Mathematics, Statistics, and related areas.
                    CompSoc facilitates students to engage with their departments &amp; colleges, meet industry professionals and enjoy our range of social events.</p>

                <p>Our goal is to help our members grow academically, socially, and professionally with a range of events throughout the year. From relaxing at our termly BBQs, getting help and advice at our weekly help sessions, to networking opportunities with key members of companies from around New Zealand, Australia and the world.
                    While we strongly encourage CSSE and Math &amp; Stats students to join, we welcome students from across all faculties. So whatever you’re interested in, you are bound to find something that you will enjoy.</p>
            </div>

            <div class='clearfix'></div>
        </section>

        <section id='history'>
            <h2>History</h2>

            <div class='image smaller left'>
                <img src='{{ url_for("static", filename="resources/oldLogo.png") }}' alt='old logo'>
            </div>

            <div class='text larger right'>

                <p>CompSoc has held a strong presence in the UC community since our beginnings in 2003, but our “written history” begins in late 2010 with six passionate computer science students. Since then, our club has grown steadily - the committee is now more than three times its original size! At the beginning of 2016, CompSoc rebranded to become the beautiful blue and orange masterpiece it is today. In 2018, and moving forward, we strive to expand the range and quality of our events and opportunities for all students.</p>

            </div>

            <div class='clearfix'></div>
        </section>

        <section id="committee">
            <h2>2021 Committee</h2>
            <ul class="current-committee">
                <p>Photos coming soon!</p>
                <!-- <img class='current-committee-image' src="{{ url_for('static', filename='resources/exec_photos/unknown.png')}}" alt='2021 Committee' /> -->
                <li>
                    <img src="{{ url_for('static', filename='resources/exec_photos/unknown.png')}}" alt='Forester King'>
                    <span class='name'>Forester King</span>
                    <span class='position'>President</span>
                    <a href="mailto:president@compsoc.org.nz">president@compsoc.org.nz</a>
                </li>

                <li>
                    <img src="{{ url_for('static', filename='resources/exec_photos/joseph_manifold.jpg')}}" alt="Joseph Manifold" />
                    <span class='name'>Joseph Manifold</span>
                    <span class='position'>Vice President</span>
                    <a href="mailto:vice.president@compsoc.org.nz">vice.president@compsoc.org.nz</a>
                </li>

                <li>
                    <img src="{{ url_for('static', filename='resources/exec_photos/unknown.png')}}" alt="Alex Hobson" />
                    <span class='name'>Alex Hobson</span>
                    <span class='position'>Treasurer</span>
                    <a href='mailto:treasurer@compsoc.org.nz'>treasurer@compsoc.org.nz</a>
                </li>

                <li>
                    <img src="{{ url_for('static', filename='resources/exec_photos/euan_widjaja.jpg')}}" alt="Euan Widjaja" />
                    <span class='name'>Euan Widjaja</span>
                    <span class='position'>Secretary</span>
                    <a href="mailto:secretary@compsoc.org.nz">secretary@compsoc.org.nz</a>
                </li>

                <li>
                    <img src="{{ url_for('static', filename='resources/exec_photos/unknown.png')}}" alt="Andrew Sturman" />
                    <span class='name'>Andrew Sturman</span>
                    <span class='position'>Industry Representative</span>
                    <a href="mailto:industry@compsoc.org.nz">industry@compsoc.org.nz</a>
                </li>

                <li>
                    <img src="{{ url_for('static', filename='resources/exec_photos/unknown.png')}}" alt="George Robinson" />
                    <span class='name'>George Robinson</span>
                    <span class='position'>Marketing Manager</span>
                    <a href="mailto:marketing@compsoc.org.nz">marketing@compsoc.org.nz</a>
                </li>

                <li>
                    <img src="{{ url_for('static', filename='resources/exec_photos/unknown.png')}}" alt="Francis Phan" />
                    <span class='name'>Francis Phan</span>
                    <span class='position'>Marketing Manager</span>
                    <a href="mailto:marketing@compsoc.org.nz">marketing@compsoc.org.nz</a>
                </li>

                <li>
                    <img src="{{ url_for('static', filename='resources/exec_photos/richard_vong.jpg')}}" alt="Richard Vong" />
                    <span class='name'>Richard Vong</span>
                    <span class='position'>Social Media Manager</span>
                    <a href="mailto:marketing@compsoc.org.nz">marketing.compsoc.org.nz</a>
                </li>

                <li>
                    <img src="{{ url_for('static', filename='resources/exec_photos/jack_breurkes.jpg')}}" alt="Jack van Heugten Breurkes" />
                    <span class='name'>Jack van Heugten Breurkes</span>
                    <span class='position'>Academic Events Manager</span>
                    <a href="mailto:academic@compsoc.org.nz">academic@compsoc.org.nz</a>
                </li>

                <li>
                    <img src="{{ url_for('static', filename='resources/exec_photos/unknown.png')}}" alt="Robbie Eivers" />
                    <span class='name'>Robbie Eivers</span>
                    <span class='position'>Social Events Manager</span>
                </li>

                <li>
                    <img src="{{ url_for('static', filename='resources/exec_photos/unknown.png')}}" alt="Grant Wong" />
                    <span class='name'>Grant Wong</span>
                    <span class='position'>Maths and Stats Representative</span>
                    <a href="mailto:maths.stats@compsoc.org.nz">maths.stats@compsoc.org.nz</a>
                </li>

                <li>
                    <img src="{{ url_for('static', filename='resources/exec_photos/unknown.png')}}" alt="Liam Pol" />
                    <span class='name'>Liam Pol</span>
                    <span class='position'>Maths and Stats Representative</span>
                    <a href="mailto:maths.stats@compsoc.org.nz">maths.stats@compsoc.org.nz</a>
                </li>

                <li>
                    <img src="{{ url_for('static', filename='resources/exec_photos/unknown.png')}}" alt="Zara Smith" />
                    <span class='name'>Zara Smith</span>
                    <span class='position'>Third Year Representative</span>
                    <a href="mailto:student@compsoc.org.nz">student@compsoc.org.nz</a>
                </li>

                <li>
                    <img src="{{ url_for('static', filename='resources/exec_photos/unknown.png')}}" alt="Te Wehenga Johnson" />
                    <span class='name'>Te Wehenga Johnson</span>
                    <span class='position'>Third Year Representative</span>
                    <a href="mailto:student@compsoc.org.nz">student@compsoc.org.nz</a>
                </li>

                <li>
                    <img src="{{ url_for('static', filename='resources/exec_photos/unknown.png')}}" alt="Enrico Ancheta" />
                    <span class='name'>Enrico Ancheta</span>
                    <span class='position'>Second Year Representative</span>
                    <a href="mailto:student@compsoc.org.nz">Enrico Ancheta</a>
                </li>

                <li>
                    <img src="{{ url_for('static', filename='resources/exec_photos/unknown.png')}}" alt="Francis Phan" />
                    <span class='name'>Francis Phan</span>
                    <span class='position'>First Year Representative</span>
                    <a href="mailto:firstyear@compsoc.org.nz">firstyear@compsoc.org.nz</a>
                </li>

                <li>
                    <img src="{{ url_for('static', filename='resources/exec_photos/unknown.png')}}" alt="Mitchell Veale" />
                    <span class='name'>Nutcha Sirawattanakul</span>
                    <span class='position'>First Year Representative</span>
                    <a href="mailto:firstyear@compsoc.org.nz">firstyear@compsoc.org.nz</a>
                </li>

                <li>
                    <img src="{{ url_for('static', filename='resources/exec_photos/unknown.png')}}" alt="Hezekiah Dacillo" />
                    <span class='name'>Hezekiah Dacillo</span>
                    <span class='position'>Equity Officer</span>
                </li>

                <li>
                    <img src="{{ url_for('static', filename='resources/exec_photos/unknown.png')}}" alt="Euan Widjaja" />
                    <span class='name'>Euan Widjaja</span>
                    <span class='position'>Equity Officer</span>
                </li>

            </ul>
        </section>
    </div>
</div>
{% endblock %}
