{% extends "base.html" %}
{% block title %} Contact {% endblock %}
{% block content %}
<div class="main">

    <div class='mini-menu'>
        <h1>Contact</h1>
        <a href='#details'>Details</a>
        <a href='#social-media'>Social Media</a>
    </div>

    <div class='body'>
        <section id="details">
            <h2>Details</h2>

            <div class='text'>
                <p>For any enquiries relating to CompSoc, including sponsorships, please contact us through email at <a href='mailto:info@compsoc.org.nz'>info@compsoc.org.nz</a>.
            </div>

        </section>

        <section id="social-media">
            <h2>Social Media</h2>

            <div class='text'>
                <p>Our Twitter is <a href='https://twitter.com/UCCompSoc' target='_blank'>@UcCompSoc</a>.</p>
                <p>Our Facebook page is <a href='https://www.facebook.com/UcCompSoc' target='_blank'>UcCompSoc</a>.</p>
            </div>

        </section>
    </div>
</div>
{% endblock %}
