{% extends "base.html" %}
{% block title %} Events {% endblock %}
{% block content %}
        <div class="main">

            <div class='mini-menu'>
                <h1>Events</h1>
                <a href='#upcoming'>Upcoming Events</a>
                <a href='#what-we-do'>What we do</a>
            </div>

            <div class='body'>
                <section id="upcoming">
                    <h2>Upcoming Events</h2>

                    <div class="text">
                        <p>
                            View all events on our <a href='https://www.facebook.com/UcCompSoc/events' target='_blank'>Facebook Events Page</a>.
                        </p>
                    </div>

                </section>

                <section id="what-we-do">
                    <h2>What we do</h2>

                    <div class='text'>
                        <h4>Social BBQs</h4>
                        <p>
                            We try to have one every term, and we always fulfill our duty in providing you kegs on tap and enough sausages, chicken nuggets and hash browns to fill you right up.
                            <!-- https://mega.nz/#F!uBoFgJjL!A68kRpjxZ70lrI7Z2sScCA -->
                        </p>
                    </div>

                    <div class='image'>
                        <img src="{{ url_for('static', filename='resources/bbq-2018.jpg') }}" alt='Barbeque' class='bordered'>
                    </div>

                    <div class='text'>
                        <h4>Dota 2 LAN Tournaments</h4>
                        <p>
                            E-Sports is a growing phenomenon, and we're getting on board with one of the biggest Dota 2 Tournaments in the South Island in 2017 we had 16 teams battling it out for the title of the greatest Dota 2 team at UC.
                            <!-- https://mega.nz/#F!SRQUDSoR!kD9QXrLcIknAPx6OrlprIg -->
                        </p>
                    </div>

                    <div class='image'>
                        <img src="{{ url_for('static', filename='resources/dota2-2017.jpg') }}" alt='Dota 2 Tournament' class='bordered'>
                    </div>

                    <div class='text'>
                        <h4>Industry Talks</h4>
                        <p>
                            A wide variety of speakers from the real world! Not only are they often on the hunt for recruitment, but they offer great presentations with solid advice and opportunities.
                        </p>
                    </div>

                    <div class='image'>
                        <img src="{{ url_for('static', filename='resources/xeroEvent-2017.jpg') }}" alt='Industry Events' class='bordered'>
                    </div>

                    <div class='text'>
                        <h4>Tech Seminars and Workshops</h4>
                        <p>
                            Learn new skills to add to that CV of yours with our seminars and workshops, which every now and then are held by some big name companies, such as Google or Microsoft.
                        </p>
                    </div>

                    <div class='text'>
                        <h4>Academic Tutorials</h4>
                        <p>
                            Struggle no more with your assignments and quizzes by coming along to our free weekly tutorials where you can work on your own, or with a buddy, and ask for help from one of our tutors. Rumor has it, we also provide pizza every so often…
                        </p>
                    </div>

                    <div class='text'>
                        <h4>CS+X Festival</h4>
                        <p>
                            A series of talks dedicated to discovering fun, inspiring, and unexpected ways that computer science impacts our world and relates to the topics that you are passionate about. The CS + X Festival features talks, workshops, and videos by a diverse range of industry professionals and researchers.
                        </p>
                    </div>


                </section>
                <div class='clearfix'></div>
            </div>
        </div>


{% endblock %}
