{% extends "base.html" %}
{% block title %} Sponsors {% endblock %}
{% block content %}
<div class="main">

    <div class='mini-menu'>
        <h1>Sponsors</h1>
        <a href='#current'>Current Sponsors</a>
        <a href='#become-a-sponsor'>Become a Sponsor</a>
    </div>

    <div class='body'>
        <section id="current">
            <h2>Current Sponsors</h2>

            <div class='sponsor'>
                <div class='image'>
                    <img src="{{ url_for('static', filename='resources/verizonConnect.png') }}" alt='Verizon Connect image' style='max-width: 500px;'>
                    <h4><a href='https://verizonconnect.com/' target="_blank">Verizon Connect</a></h4>
                </div>

                <div class='text'>
                    <p>Verizon Connect offers web-based mobile workforce and fleet management software including GPS tracking, route planning, job management, navigation and compliance.</p>
                    <p>The Christchurch office regularly hires at least 10 graduates each year, and 5 to 10 interns working year-round. Many interns stay on as permanent employees after graduation.
                        The company is actively looking for software developers and engineers as well as business analysts, support engineers, software test engineers and software development managers.
                    </p>
                    <p>We look for staff who can embrace change and new ways of thinking – and move quickly. We’re a diverse mix of professionals who thrive in an atmosphere that promotes fresh ideas and challenges traditional systems.
                        Our culture is one that values open communication, and is built on creativity and excellence.
                    </p>
                    <p>Learn more about our culture and values by visiting <a href="https://verizonconnect.com/company/careers">here.</a></p>
                </div>
            </div>

            <div class='clearfix'></div>

            <div class='sponsor'>
                <div class='image'>
                    <img src="{{ url_for('static', filename='resources/uccsse-sq-red.png') }}" alt="UC CSSE Department" style="width: 250px">
                    <h4><a href="http://www.csse.canterbury.ac.nz" target="_blank">UC CSSE Department</a></h4>
                </div>
                <div class="text">
                    <p>
                        UC Computer Science and Software Engineering is an internationally recognised department with wide research interests and award-winning internationally-diverse staff. QS World university rankings rate UC in the top 3 per cent of universities worldwide for engineering and technology.
                        Based within the highly reputable UC College of Engineering, the department teaches into undergraduate and postgraduate programmes with courses ranging from theory and research to practical and applied project courses. The department has a close connection with industry.
                        CSSE graduates are spread world-wide, working in a range of software development roles.
                    </p>
                    <p>
                        For more information on the department, see: <a href="http://www.csse.canterbury.ac.nz">www.csse.canterbury.ac.nz</a>
                    </p>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class='sponsor'>
                <div class='image'>
                    <img src="{{ url_for('static', filename='resources/UC-engineering.png') }}" alt='UC Engineering' style='max-width: 250px;'>
                    <h4><a href='http://www.canterbury.ac.nz/engineering/' target="_blank">UC Engineering</a></h4>
                </div>
                <div class = 'text'>
                    <p>UC Engineering provide Compsoc with a great deal of support every year and we are very grateful for everything that they have done. Without their help we wouldn't be able to provide our members with so many great events.</p>

                    <p>For more information and news from UC Engineering, see <a href='http://www.canterbury.ac.nz/engineering/'>their page here</a>.</p>
                </div>
            </div>

            <div class='clearfix'></div>

        </section>

        <section id="become-a-sponsor">
            <h2>Become a sponsor</h2>

            <div class='text'>
                <p>What can CompSoc offer you?</p>
            </div>

            <h4>Marketing</h4>
            <div class='text'>
                <p>Marketing opportunities include:</p>
                <ul>
                    <li>Exposure to our members of your publicity brand and marketing.</li>
                    <li>Signage, logos, displays can be featured at our events, Facebook page and on our website.</li>
                    <li>We also have access to space in lecture theatres and computer labs where posters or other advertising material for your company can be displayed.</li>
                    <li>Event attendance and features</li>
                    <li>Guest speakers from your company at our events.</li>
                </ul>
            </div>

            <h4>Recruitment</h4>
            <div class='text'>
                <p>We can organize events with you to:</p>
                <ul>
                    <li>Meet with and recruit students and members.</li>
                    <li>Promote internships, graduate positions and other job opportunities.</li>
                </ul>
            </div>

            <h4>Philanthropic</h4>
            <div class='text'>
                <p>Philanthropic opportunities include:</p>
                <ul>
                    <li>Service to the community</li>
                    <li>Outreach programs (Including high school, Maori and Pacifica, and female students.)</li>
                </ul>

                <p>What you can offer us:</p>
                <ul>
                    <li>General financial assistance to keep us running throughout the year.</li>
                    <li>Swag / goodie bags (Especially earlier in the year for club membership sign ups)</li>
                    <li>Sponsorship for events, e.g. for food and drinks, speakers, prizes, etc.</li>
                    <li>Representatives from your company coming in to talk about software development in the real world</li>
                </ul>

                <p>Interested in helping us out? <a href='/contact'>Contact us!</a></p>
            </div>
        </section>
    </div>
</div>

{% endblock %}
